@charset "UTF-8";
/*******************/
/*** MAIN COLOR ****/
/*******************/
/*******************/
/**** MAIN FONT ****/
/*******************/
#tag-one {
  background-color: rgb(255, 209, 91);
  color: black;
  height: 53px;
  border-radius: 10px;
  width: auto;
}
#tag-one p {
  margin: 0;
  font-size: 0.8rem;
}
@media (min-width: 576px) {
  #tag-one p {
    font-size: 1rem;
  }
}
#tag-one button {
  background: url(../../assets/icones/clear-icon-black.svg) center center/35% 35% no-repeat;
  width: 36px;
  height: 36px;
  border: none;
  text-indent: 3000px;
  cursor: pointer;
}

/* fichier pour gérer le rendu d'une sort liste */
.searchform {
  margin-bottom: 16%;
}
.searchform .input-group {
  position: relative;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.searchform .input-group:focus-within {
  outline: 2px solid rgb(255, 209, 91);
  border-radius: 11px;
}
.searchform .input-group input[type=search] {
  border: none;
  border-radius: 11px 0 0 11px;
  height: 60px;
  padding-left: 8%;
  color: rgb(122, 122, 122);
  text-overflow: ellipsis;
  /*white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;*/
}
.searchform .input-group input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  margin-left: 0.4em;
  background-image: url("../../assets/icones/clear-icon.svg");
  cursor: pointer;
}
.searchform .input-group input[type=search]::placeholder {
  font-family: "Manrope", sans-serif;
  color: rgb(122, 122, 122);
}
.searchform .input-group input[type=search]:focus {
  outline: none;
  box-shadow: none;
}
.searchform .input-group .bg-btn-loop {
  border-radius: 0 11px 11px 0;
  height: 60px;
  width: 60px;
}
.searchform .input-group .bg-btn-loop button[type=submit] {
  background: url(../../assets/icones/loop-cta-black.svg) center center/100% 100% no-repeat;
  width: 48px;
  height: 48px;
  border: none;
  text-indent: 3000px;
  cursor: pointer;
}
.searchform .input-group .bg-btn-loop button[type=submit]:hover, .searchform .input-group .bg-btn-loop button[type=submit]:focus {
  background: url(../../assets/icones/loop-cta-hover.svg) center center/100% 100% no-repeat;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/images/hero-header.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
header .logo {
  width: 200px;
}
header h1 {
  color: rgb(255, 209, 91);
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-size: 1.75rem;
  line-height: 2.5rem;
  text-wrap: balance;
  text-align: center;
  margin-top: 16%;
  margin-bottom: 8%;
}
@media (min-width: 768px) {
  header h1 {
    font-size: 2.75rem;
    line-height: 3.5rem;
  }
}

/* Ici faire le rendu d'ensemble genre les div qui contiennent les sort liste + les card */
main {
  border: 1px solid red;
}
main section {
  border: 1px solid green;
}

h2 {
  font-family: "Anton", sans-serif;
  color: #1B1B1B;
}

h3, h4, h5, p, a, ul, li {
  font-family: "Manrope", sans-serif;
  color: #1B1B1B;
}

.filter p {
  font-family: "Anton", sans-serif;
  font-size: 1.3rem;
}

/*# sourceMappingURL=style.css.map */
