@import "base/color";
@import "base/normalize";
@import "base/typography";

@import "components/recipe_cards";

@import "layouts/header";

@import "pages/home";

header {
    border: 1px solid red;
}

section {
    border: 1px solid green;
}

div {
    border: 1px solid orange;
}