.filter {
    background-color: white;
    border-radius: 11px 11px 11px 11px;
    width: 200px;
    /* dropdown class containt already a relative position */

    .dropdown-btn-filter {
        background-color: white;
        width: 100%;
        font-family: $font-main;
        font-weight: 500;
        border: none;
        cursor: pointer;

        &:focus + .option-list, &:hover + .option-list, .option-list:hover {
            display: block;
        }
    }

    .option-list {
        display: none;
        background-color: white;
        position: absolute;
        border-radius: 0 0 11px 11px;
        top: 100%;
        left: 0;
        width: 200px;
        z-index: 3000;

        form {
            border: 1px rgba(198, 198, 198, 1) solid;
            border-radius: 3px;
            overflow: hidden; /* Vérifier si txt btn bien masqué */

            input {
                color: $color-font-grey;
                border: none;
                padding: 6px 0px 6px 12px;

                &::-webkit-search-cancel-button {
                    -webkit-appearance: none;
                    height: 16px;
                    width: 16px;
                    margin-left: .4em;
                    background: url("../../assets/icones/clear-icon.svg") center center / 50% 50% no-repeat;
                    cursor: pointer;
                }
            }

            button {
                background: url(../../assets/icones/loop-icon-grey.svg) center center / 30% 30% no-repeat;
                width: 36px;
                height: 36px;
                padding: 0;
                border: none;
                text-indent: 3000px;
                cursor: pointer;
            }
        }

        ul {
            overflow-y: auto;
            scrollbar-width: thin;
            max-height: 200px;  
            a:hover, a:focus, a:active {
                background-color: $color-main;
            }
            a:focus {
                border: none;
                outline: none;
            }
        }
    }
}