.filter {
    background-color: white;
    border-radius: 11px;
    width: 200px;
    /* dropdown class containt already a relative position */

    &:hover .option-list {
        max-height: 280px;
        opacity: 1;
    }
    &:not(:hover) .option-list {
        max-height: 0;
        opacity: 0;
    }
    
    .dropdown-btn-filter {
        background-color: white;
        padding: 10px 18px 10px 18px;
        border-radius: 11px;
        width: 100%;
        font-family: $font-main;
        font-weight: 500;
        border: none;
        cursor: pointer;

        &:focus, &:hover {
            outline: 3px solid $color-main;
            border-radius: 11px;
            z-index: 3001   ;
        }

        &:hover + .option-list {
            max-height: 280px;
            opacity: 1;
        }
    }
    
    .option-list {
        overflow: hidden;
        background-color: white;
        position: absolute;
        border-radius: 0 0 11px 11px;
        top: 100%;
        left: 0;
        max-height: 0;
        transition: max-height 0.45s ease-in-out, opacity 0.45s ease-in-out;
        width: 200px;
        z-index: 3000;
        
        form {
            border: 1px rgba(198, 198, 198, 1) solid;
            border-radius: 3px;
            overflow: hidden;
            
            input {
                color: $color-font-grey;
                border: none;
                padding: 6px 0px 6px 12px;
                
                &::-webkit-search-cancel-button {
                    -webkit-appearance: none;
                    height: 16px;
                    width: 16px;
                    margin-left: .4em;
                    background: url("../../assets/icones/clear-icon.svg") center center / 50% 50% no-repeat;
                    cursor: pointer;
                }
            }
            
            button {
                background: url(../../assets/icones/loop-icon-grey.svg) center center / 30% 30% no-repeat;
                width: 36px;
                height: 36px;
                padding: 0;
                border: none;
                text-indent: 3000px;
                cursor: pointer;
            }
        }
        
        ul {
            overflow-y: auto;
            scrollbar-width: thin;
            max-height: 200px;

            a {
                white-space: normal;
                line-height: 1.3rem;

                &:hover, a:focus, a:active {
                    background-color: $color-main;
                }
                &:focus {
                    border: none;
                    outline: none;
                }
            }
        }
    }
}