.tag {
    background-color: $color-main;
    color: black;
    height: 53px;
    border-radius: 10px;
    min-width: 200px;

    p {
        margin: 0;
               
    }

    button {
        background: url(../../assets/icones/clear-icon-black.svg) center center / 35% 35% no-repeat;
        width: 36px;
        height: 36px;
        border: none;
        text-indent: 3000px;
        cursor: pointer;
    }
}