/* Ici faire le rendu d'ensemble genre les div qui contiennent les sort liste + les card */

h2 {
    font-family: $font-title;
    color: $color-font;
    line-height: 1.13rem;
}

h3, h4, h5, p, a, ul, li {
    font-family: $font-main;
    color: $color-font;
    line-height: 1rem;
}

p {
    font-size: 0.88rem;
    line-height: 1.19rem;
}

.filter-section {

    p {
        font-family: $font-title;
        font-size: 1.3rem;
        margin: 0;
    }
}